.description_text {
  width: 400px;
}

.box1 {
  background-color: $color-secondary;
  color: $color-white;
  width: 400px;
  padding: 25px;
  margin: auto;
  margin-bottom: 30px;
}

.box2 {
  background-color: $color-white;
  color: $color-primary;
  width: 400px;
  padding: 25px;
  margin: auto;
  margin-bottom: 23px;
}
.box1_link {
  color: $color-white;
  float: right;
  font-weight: 600;
}
.box2_link {
  color: $color-primary;
  float: right;
  font-weight: 600;
}
