.heading_container {
  position: relative;
  top: 0px;
  text-align: center;
  margin: 0 auto;
}
.top_heading1,
.top_heading2 {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  top: 30px;
}
.top_heading2 {
  font-weight: 600;
}

.frontend_container {
  position: relative;
  top: -135px;
  text-align: center;
  margin: 0 auto;
}
.profile_image {
  width: 80%;
  margin: 100px auto;
}
.cta_button {
  width: 180px;
  padding: 10px;
  background-color: $color-secondary;
  color: $color-white;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
  margin-bottom: 100px;
}
@media (min-width: 600px) {
  .frontend_container {
    position: relative;
    top: -140px;
  }
  .top_heading1,
  .top_heading2 {
    font-size: 90px;
    text-transform: uppercase;
  }
  .top_heading2 {
    top: 45px;
    font-weight: 600;
  }
}
